# Discord
DISCORD_TOKEN=
# (optionnel) Pour synchroniser la commande plus vite sur un serveur de test
DISCORD_GUILD_ID=

# Z.ai
ZAI_API_KEY=
ZAI_API_BASE_URL=https://api.z.ai/api/paas/v4
ZAI_MODEL=glm-4.7

# (optionnel) Web Search
ZAI_SEARCH_ENGINE=search-prime
ZAI_SEARCH_RECENCY_FILTER=oneWeek
ZAI_SEARCH_COUNT=8
